<!DOCTYPE html>
<html lang="en">

<head>
  <title>C&S - The Clothes and Shoes Finder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="/active.js"></script>
  <script src="/script.js"></script>
</head>

<body>
  <!--Navbar-->
  {{> navbar}}

  <!-- Begin page content -->
  <div class="cover">
    <div class="text-center centered">
      <div class="container">
        <h1 class="display-3" style="color:white">C&S searcher</h1>
        <p class="lead" style="color:white; font-size:30px">The clothes and shoes finder just for you.</p>
        <a class="btn btn-outline-light btn-lg" href="/form">Get Started</a>
      </div>
    </div>
  </div>

  <header class="bg-light py-4 text-dark blue">
    <div class="container text-center">
      <h1>Welcome to C&S Searcher</h1>
      <p class="lead">A clothes and shoes searcher website</p>
    </div>
  </header>

  <html>

  <head>
    <title>Place Searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 75%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 75%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var map;
      var infowindow;

      function initMap() {
        var pyrmont = { lat: 5.339479, lng: 100.298138 };

        map = new google.maps.Map(document.getElementById('map'), {
          center: pyrmont,
          zoom: 15
        });

        infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch({
          location: pyrmont,
          radius: 2000,
          type: ['clothing_store']
        }, callback);
      }

      function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            createMarker(results[i]);
          }
        }
      }

      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function () {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }
    </script>
  </head>

  <body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNqHvtPfkk3z7e0anOvfLf6-5qmT9b2KM&libraries=places&callback=initMap"
      async defer></script>
  </body>
  <button type="button" onclick="cloth_button()" class="btn3"> Clothes </button>

  <button type="button" onclick="shoe_button()" class="btn3"> Shoes </button>

  </html>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Recommended Clothes store</h2>
          <img src="H&M.jpg" style="width:500px;height:350px;">
          <p>H&M</p>
          <p class="lead">H&M are available at 1st Avenue and Gurney Paragon,Penang. H&M provides quality shirts as
            well as shoes, the design of their shirt have many choices and also trendy.</p>
          <img src="Brandsoutlet.png" style="width:500px;height:350px;">
          <p>Brands Outlet</p>
          <p class="lead">Brands Outlet is similar to Padini Concept Store which are available in 1st Avenue,
            Queesnbay, Gurney and Gurney Paragon.Brand Outlet also provides cheap and a lot of design fpr their shirts.</p>

          <h2>Recommended Shoes store</h2>
          <img src="adidas.png" style="width:500px;height:350px;">
          <p>Adidas</p>
          <p class="lead">Adidas are available in Queensbay mall and Gurney Plaza. Adidas provide quality shoes which
            is very comfortable and last long. Adidas also provide trendy shoes which is very suitable for young man.
          </p>
          <img src="converse.jpg" style="width:500px;height:350px;">
          <p>Converse</p>
          <p class="lead">Converse are available at Queensbay mall and 1st Avenue mall. Converse's shoes design is
            simply and good looking. The price of Converse shoes is reasonable.</p>
          <img src="nike.jpg" style="width:500px;height:350px;">
          <p>Nike</p>
          <p class="lead">Nike is available at Queensbay mall, Gurney plaza and 1st Avenue mall. Nike provide quality
            shoes as well. The design of Nike shoes is cool.</p>
        </div>
      </div>
    </div>
  </section>


</body>

</html>